.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A0C878;
    padding: 10px 20px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px; 
    height: auto;
    margin-right: 10px;
}

.club-name {
    font-size: 25px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
    font-size: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links a:hover {
    color: blue;
}

@media screen and (max-width: 768px){
    .logo{
        width: 40px;
    }
    .nav-links{
        display: block;
    }


}
@media screen and (max-width: 970px){
    .club-name{
        font-size: 20px;
        flex-direction: column;
        display: block;
    }
    .nav-links{
        flex-direction: column;
    }

}
    

